.wrapper {
    display: flex;
}

.content-wrapper {
    display: flex;
    width: 100%;
    background-color: rgb(245, 245, 245);
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.content-area {
    border-radius: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 30px 30px 30px;
}

.course-area {
    width: 100%;
    max-width: 700px;
}

.course-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.course-details-left {
    width: 60%;
}

.course-details-right {
    width: fit-content;
    height: 180px;
}

.course-details-right p {
    position: relative;
    top: -101px;
    left: 75px;
    font-weight: 600;
    font-size: 20px;
    color: var(--blue)
}

.course-details-right svg {
    display: flex;
}

.course-details-right svg path {
    stroke-linecap: round;
    stroke-width: 4;
}

.course-details-right svg path.grey {
    stroke: lightgrey;
}

.course-details-right svg path.purple {
    stroke: var(--blue);
    stroke-dasharray: calc(40 * 3.142 * 2);
    stroke-dashoffset: calc(251.5 - 83.83);
    /* adjust last number for variance */
}


.course-title {
    font-weight: 700;
    font-size: 30px;
}

.course-collections {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 2px solid rgb(243, 244, 246);
    border-radius: 10px;
    padding: 7px;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 30px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.course-collections svg {
    padding: 7px;
    background-color: rgb(139, 108, 239, 0.2);
    color: rgb(139, 108, 239);
    border-radius: 10px;
    margin-right: 10px;
}

.course-collections:hover {
    border-color: black;
    box-shadow: 1px 5px 10px 0.1px rgba(0, 0, 0, 0.15);
}


.course-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.course-content-header {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 15px;
}

.course-unit {
    display: flex;
    margin-bottom: 10px;
    border: 2px solid rgb(243, 244, 246);
    border-radius: 10px;
    padding: 10px;
}

.unit-number {
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    color: inherit;
    background-color: inherit;
    margin-right: 10px;
}

.unit-title {
    font-weight: 600;
    font-size: 18px;
    color: black;
    display: flex;
    align-items: center;
}

.unit-desc {
    font-size: 15px;
    font-weight: 400;
    margin-left: 25px;
}

.math .unit-number {
    color: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.2);
}