@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body {
    margin: 0;
    height: 3000px;
}

a, p, h1, h2, h3, h4, h5, h6, li {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.grid {
    display: grid;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.position-fixed {
    position: fixed;
}