body {
    height: 300vh;
}

.hp1 {
    display: flex;
    padding-top: 150px;
    justify-content: center;
    background-color: lightblue;
    padding-bottom: 100px;
}

.hp1-area {
    width: 70%;
    max-width: 1100px;
    display: flex;
    align-items: center;
}

.hp1-image {
    z-index: 20;
}

.hp1-image img {
    height: 450px;
}

.hp1-text {
    margin-right: 50px;
    align-items: start;
    display: flex;
    flex-direction: column;
}

.hp1-1-title {
    font-size: 54px;
    font-weight: 700;
    color: rgb(0, 157, 255);
}

.hp1-1-title span {
    color: black;
}

.hp1-1-desc {
    color: black;
    margin-top: 20px;
    font-size: 17px;
    margin-bottom: 30px;
}

.hp1-text a {
    padding: 13px 25px;
    background-color: rgb(0, 157, 255);
    color: white;
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    transform: translateY(0);
    box-shadow: 0 7px 0px rgba(0, 118, 192, 0.815);
}

.hp1-text a:active {
    transform: translateY(5px);
    box-shadow: 0 2px 0px rgba(0, 118, 192, 0.815);
}

.hp1-image {
    position: relative;
}

.image-glow {
    height: 200px;
    width: 200px;
    background-color: #006bb3;
    opacity: 0.5;
    position: absolute;
    top: 154px;
    right: 170px;
    border-radius: 200px;
    box-shadow: 0px 0px 100px 135px #006bb3;
    z-index: -1;
}

@media screen and (max-width: 1200px) {
    .hp1-image img, .image-glow {
        display: none;
    }
}

.hp2 {
    display: flex;
    justify-content: center;
    background-color: rgb(243, 244, 246);
    padding-top: 100px;
    height: 500px;
}

.hp2-area {
    display: flex;
    width: 70%;
    max-width: 1100px;
    justify-content: space-between;
}

.hp2-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-right: 30px;
}

@keyframes jump-up {
    0% {
        opacity: 0;
        transform: translate3d(0,70px,0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

.animate {
    animation-duration: 1s;
    animation-name: jump-up;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.5,2,.5,.75),cubic-bezier(.54,.14,.4,1.07);
}


.hp2-top-title {
    font-weight: 700;
    font-size: 35px;
    opacity: 0;
    margin-bottom: 5px;
}

.hp2-top-desc {
    font-size: 20px;
    animation-delay: 0.25s;
    opacity: 0;
}

.hp2-left .hp2-category:first-child {
    animation-delay: 0.5s;
    opacity: 0;
}

.hp2-right .hp2-category:first-child {
    animation-delay: 0.75s;
    opacity: 0;
}

.hp2-left .hp2-category:last-child {
    animation-delay: 1s;
    opacity: 0;
}


.hp2-right .hp2-category:last-child {
    animation-delay: 1.25s;
    opacity: 0;
}


.hp2-bottom {
    display: flex;
    align-items: center;
}

.hp2-left, .hp2-right {
    display: flex;
    flex-direction: column;
}

.hp2-left {
    margin-right: 20px;
}

.hp2-category {
    width: 250px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid rgb(228, 228, 228);
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
    transition: border-color 0.35s ease-in-out;
}

.hp2-category:first-child {
    margin-bottom: 20px;
}

.hp2-left .hp2-category:first-child svg[stroke] {
    stroke: rgb(0, 157, 255);
    background-color: rgba(0, 157, 255, 0.192);
}   

.hp2-left .hp2-category:last-child svg[stroke] {
    stroke: rgb(0, 194, 129);
    background-color: rgba(0, 194, 129, 0.192);
}   

.hp2-right .hp2-category:first-child svg[stroke] {
    stroke: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.192);
}   

.hp2-right .hp2-category:last-child svg[stroke] {
    stroke: rgb(162, 0, 255);
    background-color: rgba(162, 0, 255, 0.192);
}   

.hp2-left .hp2-category:last-child:hover {
    border-color: rgb(0, 194, 129);
}

.hp2-right .hp2-category:first-child:hover {
    border-color: rgb(255, 0, 0);
}

.hp2-right .hp2-category:last-child:hover {
    border-color: rgb(162, 0, 255);
}

.hp2-left .hp2-category:first-child:hover {
    border-color: rgb(0, 157, 255);
}

.hp2-left .hp2-category:last-child:hover {
    border-color: rgb(0, 194, 129);
}

.hp2-right .hp2-category:first-child:hover {
    border-color: rgb(255, 0, 0);
}

.hp2-right .hp2-category:last-child:hover {
    border-color: rgb(162, 0, 255);
}

.hp2-category svg {
    padding: 10px;
    background-color: rgba(0, 194, 129, 0.192);
    border-radius: 10px;
    margin-bottom: 6px;
}

.hp2-c-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}

.hp2-c-desc {
    font-size: 15px;
}

.hp3 {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.hp3-area {
    display: flex;
    width: 60%;
    max-width: 700px;
    justify-content: space-between;
}

.hp3-1, .hp3-2, .hp3-3 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

.hp3-1-count, .hp3-2-count, .hp3-3-count {
    font-size: 30px;
    font-weight: 600;
}


@media screen and (max-width: 1200px) {
    .hp2-area {
        flex-direction: column;
        align-items: center;
    }

    .hp2-top-title {
        text-align: center;
    }
}
