.hp1 {
    display: flex;
    padding-top: 150px;
    justify-content: center;
    background-color: lightblue;
    padding-bottom: 100px;
}

.hp1-area {
    width: 70%;
    display: flex;
    align-items: center;
}

.hp1-image {
    z-index: 20;
}

.hp1-image img {
    height: 500px;
}

.hp1-text {
    margin-right: 50px;
    align-items: start;
    display: flex;
    flex-direction: column;
}

.hp1-1-title {
    font-size: 60px;
    font-weight: 700;
    color: rgb(0, 194, 129);
}

.hp1-1-title span {
    color: rgb(0, 157, 255);
}

.hp1-1-desc {
    color: black;
    margin-top: 20px;
    font-size: 17px;
    margin-bottom: 30px;
}

.hp1-text a {
    padding: 13px 20px;
    background-color: rgb(0, 157, 255);
    color: white;
    font-weight: 600;
    border-radius: 10px;
}

.hp1-image {
    position: relative;
}

.image-glow {
    height: 200px;
    width: 200px;
    background-color: #006bb3;
    opacity: 0.5;
    position: absolute;
    top: 154px;
    right: 170px;
    border-radius: 200px;
    box-shadow: 0px 0px 100px 135px #006bb3;
    z-index: -1;
}

@media screen and (max-width: 1200px) {
    .hp1-image img, .image-glow {
        display: none;
    }
}

.hp2 {
    display: flex;
    justify-content: center;
    background-color: rgb(243, 244, 246);
    padding-top: 100px;
}

.hp2-area {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    color: black;
}

.hp2-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.hp2-top-title {
    font-weight: 700;
    font-size: 25px;
}

.hp2-top-desc {
    margin-top: 7px;
}

.hp2-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hp2-category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    height: 250px;
}

.hp2-left {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.hp2-left svg {
    padding: 10px;
    background-color: rgba(0, 194, 129, 0.192);
    border-radius: 10px;
    margin-bottom: 10px;
}

.hp2-c-title {
    font-weight: 600;
    font-size: 18px;
}