.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-wrapper {
    width: 70%;
    max-width: 600px;
    height: 250px;
}

.close {
    top: 50%;
    left: 0%;
}

.login-area {
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-area-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-width: 400px;
}

.login-area a {
    cursor: pointer;
    text-decoration: none;
}

.login-title-area {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}

.login-title {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 15px;
}

.login-desc p {
    margin-bottom: 3px;
}

.login-desc a {
    color: #0074bd;
}

.login-border {
    margin-top: 20px;
    border-bottom: 2px solid black;
    width: 30px;
}

.login-user-pass-area {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-user,
.login-pass {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.login-user-desc,
.login-pass-desc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.login-user-pass-area a {
    font-size: 15px;
    color: #0074bd;
    transition: color 0.15s ease-in-out;
    text-align: right;
    margin-top: 10px;
}

.login-user-pass-area input {
    border-radius: 5px;
    border: none;
    height: 35px;
    padding-left: 10px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    outline: 2px rgb(228, 228, 228) solid;
    transition: border-color 0.15s ease-in-out, outline-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login-user-pass-area input:hover {
    outline-color: rgb(189, 189, 189);
}

.login-user-pass-area input:focus {
    box-shadow: 0 2px 9px rgba(79, 131, 163, 0.2);
    outline-color: #0074bd;
}

.login-user-pass-area input::placeholder {
    font-family: 'Montserrat', sans-serif;
}

input[type="password"] {
    font-size: 24px;
    font: caption;
    font-family: 'pass';
    font-style: normal;
}

.password {
    display: flex;
    align-items: center;
    position: relative;
}

.password input {
    width: 100%;
}

.password button {
    position: absolute;
    border: none;
    background-color: white;
    right: 10px;
}

.visible-toggle, .hidden-toggle {
    display: flex;
}

.visible-toggle {
    visibility: visible;
}

.hidden-toggle {
    visibility: hidden;
}

.sign-in-button {
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid rgb(0, 157, 255);
    background-color: rgb(0, 157, 255);
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    transition: all 0.2s ease-in-out;
    transform: translateY(0);
    box-shadow: 0 7px 0px rgba(0, 118, 192, 0.815);
}

.sign-in-button:active {
    transform: translateY(5px);
    box-shadow: 0 2px 0px rgba(0, 118, 192, 0.815);
}

.external-signin-area {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
}

.external-signin-border {
    display: flex;
    align-items: center;
}

.external-signin-border-left, .external-signin-border-right {
    width: 100%;
    height: 1px;
    border-top: 2px solid rgb(228, 228, 228);
}

.external-signin-border p {
    margin: 0px 10px;
}

.external-signin-buttons {
    display: flex;
    justify-content: space-between;
}

#google-button, #apple-button {
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 2px solid rgb(230, 230, 230);
    /*width: 160px;*/
    background-color: white;
    width: 45%;
    justify-content: center;
    border-radius: 10px;
    height: 45px;
    margin-top: 30px;
    transition: all 0.15s ease-in-out;
    transform: translateY(0);
    box-shadow: 0 3px 0px rgb(230, 230, 230);
}

#google-button:active, #apple-button:active {
    transform: translateY(3px);
    box-shadow: 0 0px 0px rgb(230, 230, 230);
}

#google-button svg, #apple-button svg {
  display: flex;
  align-items: center;
  height: 30px;
  margin-right: 5px;
}

.google-logo-text, .apple-logo-text {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.button-text {
  font-size: 15px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: sans-serif, sans-serif;
}

.name {
    color: black;
    font-size: 20px;
    width: 100px;
    height: 100px;
}