.nav-wrapper {
    display: flex;
    background-color: rgb(243, 244, 246);
    width: 30%;
    max-width: 250px;
    height: 100vh;
    transition: 0.15s width ease-in-out;
}

.nav-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.nav-top {
    display: flex;
    flex-direction: column;
}

.nav-logo-collapse {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-logo img {
    width: 90%;
}

.nav-collapse {
    cursor: pointer;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.nav-collapse:hover {
    background-color: rgb(228, 228, 228);
}

.nav-wrapper.active {
    width: 65px;
}

.nav-wrapper.active .nav-link p, .nav-wrapper.active .nav-logo {
    display: none;
}

.nav-link {
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.nav-link svg {
    cursor: pointer;
    padding: 5px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.nav-link:hover {
    background-color: rgb(228, 228, 228);
}

.nav-bottom {
    justify-self: flex-end;
}