.nav-wrapper {
    display: flex;
    background-color: white;
    width: 7%;
    max-width: 250px;
    height: 100vh;
}

.nav-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid grey;
    padding-top: 50px;
}

.nav-img img {
    height: 35px;
    margin-bottom: 20px;
}

.nav-link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.15s ease-in-out;
    color: black;
    width: fit-content;
    justify-content: center;
    position: relative;
}

.nav-link:hover {
    background-color: rgb(228, 228, 228);
}

.nav-link.current {
    border: 3px solid var(--blue);
    background-color: rgb(182, 237, 255);
}

.nav-link p {
    display: none;
}

.nav-link:hover p {
    display: flex;
    position: absolute;
    left: 90px;
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
}