.nav-wrapper {
    display: flex;
    background-color: white;
    width: 63px;
    height: 100vh;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.nav-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.nav-top {
    display: flex;
    flex-direction: column;
}

.nav-logo {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.nav-logo img {
    width: 80%;
}

.nav-link {
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 7.5px;
    cursor: pointer;
}

.nav-link p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 7.5px;
}

.nav-link svg {
    display: flex;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    max-width: 24px;
    min-width: 24px;
}

.nav-link:hover {
    background-color: rgb(228, 228, 228);
}

.nav-bottom {
    justify-self: flex-end;
}

.nav-wrapper .nav-link p {
    display: none;
}
