.question-area {
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgb(236, 236, 236);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 12px 30px;
}

.question-left {
    display: flex;
    flex-direction: column;
}

.question-text {
    display: flex;
    flex-direction: column;
}

.question-n {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.question-n span {
    margin-left: 20px;
    font-size: 12px;
    color: grey;
}

.question {
    font-size: 20px;
    margin-bottom: 10px;
}

.question-choices {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.question-choice {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.question-choice:last-child {
    margin: 0;
}

.question-choice button {
    border: none;
    margin-right: 25px;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    font-weight: 600;
    font-family: 'Montserrat';
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.question-choice button:hover {
    color: white;
    background-color: rgb(0, 157, 255);
}

.question-choice button.active {
    outline: 3px solid #0074bd;
}

.question-response-area {
    margin-top: 10px;
}

.question-response-area input {
    border-radius: 5px;
    border: none;
    height: 35px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    outline: 2px rgb(228, 228, 228) solid;
    transition: border-color 0.15s ease-in-out, outline-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.question-response-area input:hover {
    outline-color: rgb(189, 189, 189);
}

.question-response-area input:focus {
    box-shadow: 0 2px 9px rgba(79, 131, 163, 0.2);
    outline-color: #0074bd;
}

.question-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question-difficulty-resources {
    display: flex;
    flex-direction: column;
}

.question-difficulty {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-weight: 600;
}

.question-difficulty-o {
    height: 10px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 7px;
}

.question-difficulty-i {
    height: 10px;
    width: 30%;
    background-color: rgb(0, 194, 129);
    border-radius: 10px;
}

.question-difficulty-rating {
    margin-top: 2px;
    color: rgb(0, 194, 129);
    font-size: 13px;
}

.question-submit-solution {
    display: flex;
}

.question-submit {
    padding: 10px 30px;
    background-color: rgb(0, 157, 255);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}

.question-give-up {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
}

.fraction {
    display: flex;
    flex-direction: column;
    padding: 0px 3px;
    text-align: center;
    font-size: 12px;
}

.fraction .denominator {
    border-top: thin solid black;
}

.fraction .bar {
    display: none;
}

.formula-sheet {
    display: none;
    flex-direction: column;
    width: 600px;
    height: 600px;
    z-index: 100;
    position: fixed;
    background-color: white;
    left: 450px;
    top: 160px;
    border-radius: 20px;
    border: 2px solid rgb(189, 189, 189);
    padding: 20px;
}

.formula-sheet-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.formula-sheet-top p:first-child {
    font-weight: 600;
    font-size: 25px;
}

.formula-sheet-top p:last-child {
    font-style: italic;
}

.formula-sheet-bottom {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    column-gap: 20px;
    height: 100%;
}

.formula-sheet-close {
    padding-bottom: 5px;
    display: flex;
    height: 42px;
    width: 42px;
    padding-top: 3px;
    justify-content: center;
    background-color: transparent;
    border: none;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

.formula-sheet-course {
    display: flex;
    flex-direction: column;
}

.formula-sheet-course p {
    font-weight: 600;
}