.wrapper {
    display: flex;
}

.subjects-wrapper {
    display: flex;
    width: 100%;
    background-color: rgb(245, 245, 245);
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.subjects-area {
    border-radius: 10px;
    border: 1px solid grey;
    background-color: white;
    width: 100%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subjects-temporary {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 15px;
}

.subjects-temporary-2 {
    font-weight: 600;
    font-size: 18px;
    color: lightgrey;
}

.subjects-temporary-3 {
    font-weight: 600;
    font-size: 18px;
    color: lightgrey;
    margin-bottom: 20px;
}

.subjects-temporary-4 {
    font-weight: 600;
    font-size: 18px;
    color: rgb(230, 230, 230);
}